<main class="h-full flex flex-col min-w-[375px]">
	<header class="pl-4 sm:pl-7 pt-5">
		<h1 class="hisman-font">
			<span class="text-2xl sm:text-xl">Inicio de sesión</span>
		</h1>
		<!-- TODO: Add written effect -->
		<div
			class="text-sm max-w-[300px] sm:max-w-sm md:max-w-md lg:max-w-lg"
			role="text">
			Gestiona tus mantenimientos fácilmente!
		</div>
	</header>
	<section class="flex-1">
		<app-landing-provider>
			<app-google-email-provider></app-google-email-provider>
		</app-landing-provider>
	</section>
</main>
