<div class="w-full flex justify-end items-center flex-nowrap gap-12">
	<button
		class="btn btn-outline"
		(click)="cancel()">
		{{ cancelLabel }}
	</button>
	<button
		*ngIf="isEditBehavior; else addVehicleButtonTemplate"
		class="btn btn-secondary"
		(click)="submit()"
		[disabled]="(formService.formStatus$ | async) !== 'VALID' || !formService.isDirty">
		{{ editLabel }}
	</button>
	<ng-template #addVehicleButtonTemplate>
		<button
			class="btn btn-secondary"
			[disabled]="(formService.formStatus$ | async) !== 'VALID'"
			(click)="submit()">
			{{ addLabel }}
		</button>
	</ng-template>
</div>
