<section class="card bg-base-100 dark:bg-neutral-900 shadow-md px-4 py-5 rounded-lg">
	<div class="flex items-center justify-between">
		<p class="font-bold text-md">{{ name }}</p>
	</div>
	<p>{{ date | date : defaultFormat }}</p>
	<div class="flex">
		<p class="mt-2">{{ description || 'Sin descripción.' }}</p>
	</div>
	<div class="mt-4"><span class="font-bold">Técnico:</span> {{ technicianName || 'No especificado.' }}</div>
	<div class="flex items-center justify-between">
		<div><span class="font-bold">Lugar:</span> {{ location || 'No especificado.' }}</div>
		<div>{{ price | number : '1.0-0' }} <span class="font-bold">COP</span></div>
	</div>
</section>
