<section class="card bg-base-100 dark:bg-neutral-900 shadow-md px-4 py-5 rounded-lg">
	<div class="flex items-center justify-between">
		<p class="font-bold text-lg">{{ name }}</p>
	</div>
	<p>{{ date | date : defaultFormat }}</p>
	<div class="flex">
		<textarea
			#textAreaDescription
			readonly
			class="textarea textarea-bordered textarea-lg w-full min-h-fit mt-2 cursor-auto resize-none overflow-hidden border-0 bg-inherit"
			[value]="description"></textarea>
	</div>
	<div class="mt-4"><span class="font-bold">Técnico:</span> {{ technicianName }}</div>
	<div class="flex items-center justify-between">
		<div><span class="font-bold">Lugar:</span> {{ location }}</div>
		<div>{{ price | number : '1.0-0' }} <span class="font-bold">COP</span></div>
	</div>
</section>
