<ng-container [formGroup]="formService.form">
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
		<div class="form-control w-full max-w-full md:max-w-xs">
			<label class="label">
				<span class="label-text">Placa</span>
			</label>
			<input
				appUppercaseInput
				formControlName="license"
				type="text"
				placeholder="Ej. COL123"
				class="input input-bordered w-full" />
			<label class="label">
				<span
					class="label-text-alt text-error"
					*ngIf="formService.hasLicenseAlreadyExistError"
					>Ya tienes esta placa en otro vehículo</span
				>
				<span
					class="label-text-alt text-error"
					*ngIf="formService.hasControlRequiredError('license')"
					>Este campo es requerido</span
				>
				<span
					class="label-text-alt text-error"
					*ngIf="formService.hasControlMaxlengthError('license')"
					>Ha superado el máximo de caracteres</span
				>
			</label>
		</div>
		<div class="form-control w-full max-w-full md:max-w-xs">
			<label class="label">
				<span class="label-text">Tipo</span>
			</label>
			<select
				formControlName="type"
				class="select select-bordered">
				<option
					*ngFor="let vehicleType of vehicleTypeList"
					[value]="vehicleType.value">
					{{ vehicleType.label }}
				</option>
			</select>
		</div>
		<div class="form-control w-full max-w-full md:max-w-xs">
			<label class="label">
				<span class="label-text">Apodo (Opcional)</span>
			</label>
			<input
				formControlName="alias"
				type="text"
				placeholder="Ej. Mi ChevroGINI"
				class="input input-bordered w-full" />
			<label class="label">
				<span
					class="label-text-alt text-error"
					*ngIf="formService.hasControlMaxlengthError('alias')"
					>Ha superado el máximo de caracteres</span
				>
			</label>
		</div>
		<!-- <div class="form-control w-full max-w-full md:max-w-xs">
      <label class="label">
        <span class="label-text">Color (Opcional)</span>
      </label>
      <input
        type="text"
        placeholder="Ej. Gris Plata"
        class="input input-bordered w-full" />
    </div> -->
		<!-- <div class="form-control w-full max-w-full md:max-w-xs">
      <label class="label">
        <span class="label-text">Marca (Opcional)</span>
      </label>
      <select class="select select-bordered">
        <option
          disabled
          selected>
          Seleccione...
        </option>
        <option
          *ngFor="let vehicleType of vehicleTypeList"
          [value]="vehicleType.value">
          {{ vehicleType.label }}
        </option>
      </select>
    </div> -->
		<!-- <div class="form-control w-full max-w-full md:max-w-xs">
      <label class="label">
        <span class="label-text">Modelo (Opcional)</span>
      </label>
      <select class="select select-bordered">
        <option
          disabled
          selected>
          Seleccione...
        </option>
        <option
          *ngFor="let vehicleType of vehicleTypeList"
          [value]="vehicleType.value">
          {{ vehicleType.label }}
        </option>
      </select>
    </div> -->
		<!-- <div class="form-control w-full max-w-full md:max-w-xs">
      <label class="label">
        <span class="label-text">Imagen (Opcional)</span>
      </label>
      <input
        type="file"
        accept="image/jpeg, image/png, image/gif"
        class="file-input w-full" />
    </div> -->
	</div>
	<div class="flex gap-4 items-center mt-10 lg:mt-14">
		<h4 class="font-bold text-xl">Mantenimientos</h4>
		<button
			(click)="pushMaintenanceAndScroll()"
			class="tooltip"
			data-tip="Añadir Mantenimiento">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="icon icon-tabler icon-tabler-square-plus"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				stroke-width="2"
				stroke="currentColor"
				fill="none"
				stroke-linecap="round"
				stroke-linejoin="round">
				<path
					stroke="none"
					d="M0 0h24v24H0z"
					fill="none"></path>
				<path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
				<path d="M9 12l6 0"></path>
				<path d="M12 9l0 6"></path>
			</svg>
		</button>
	</div>
	<div class="mt-4 flex flex-col gap-4">
		<ng-container *ngIf="formService.maintenanceForms.length; else NoMaintenancesTemplate">
			<ng-container *ngFor="let maintenanceForm of formService.maintenanceForms; index as i">
				<app-maintenance-form
					[form]="maintenanceForm"
					[index]="i"></app-maintenance-form>
			</ng-container>
			<div class="flex justify-center">
				<button
					(click)="pushMaintenance()"
					class="flex items-center gap-2 flex-nowrap select-none">
					Añadir Mantenimiento
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="icon icon-tabler icon-tabler-square-plus"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						stroke-width="2"
						stroke="currentColor"
						fill="none"
						stroke-linecap="round"
						stroke-linejoin="round">
						<path
							stroke="none"
							d="M0 0h24v24H0z"
							fill="none"></path>
						<path
							d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
						<path d="M9 12l6 0"></path>
						<path d="M12 9l0 6"></path>
					</svg>
				</button>
			</div>
		</ng-container>
		<ng-template #NoMaintenancesTemplate> Por ahora sin ningún mantenimiento. </ng-template>
	</div>
</ng-container>
