<div class="h-full flex flex-col items-center pt-7">
	<div class="flex-1 w-full max-w-5xl px-4 xl:px-0">
		<ng-container *ngIf="vehicles$ | async as vehicles">
			<ng-container *ngIf="vehicles.length; else NoVehiclesTemplate">
				<header class="flex items-center gap-2 mb-8">
					<h4 class="font-bold text-xl">Vehículos</h4>
					<button
						class="tooltip"
						data-tip="Añadir Vehículo"
						(click)="addNewVehicle()">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="icon icon-tabler icon-tabler-square-plus"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							stroke-width="2"
							stroke="currentColor"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round">
							<path
								stroke="none"
								d="M0 0h24v24H0z"
								fill="none"></path>
							<path
								d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
							<path d="M9 12l6 0"></path>
							<path d="M12 9l0 6"></path>
						</svg>
					</button>
				</header>
				<div class="flex-1">
					<app-vehicle-card-list [vehicles]="vehicles"></app-vehicle-card-list>
				</div>
			</ng-container>
		</ng-container>
	</div>
</div>
<ng-template #NoVehiclesTemplate>
	<div class="flex flex-col items-center mt-32">
		<app-empty-state
			title="No hay vehículos"
			message="Actualmente no ha añadido ningún vehículo."
			image="assets/images/svg/vehicle-compact.svg"></app-empty-state>
		<button
			class="btn btn-outline"
			(click)="addNewVehicle()">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="icon icon-tabler icon-tabler-car mr-2"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				stroke-width="2"
				stroke="currentColor"
				fill="none"
				stroke-linecap="round"
				stroke-linejoin="round">
				<path
					stroke="none"
					d="M0 0h24v24H0z"
					fill="none"></path>
				<path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
				<path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
				<path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5"></path>
			</svg>
			Añadir Vehículo
		</button>
	</div>
</ng-template>
