<section class="card bg-base-100 dark:bg-neutral-900 shadow-md px-4 py-5 rounded-lg">
	<div class="flex items-center justify-between">
		<div><span class="font-semibold">Fecha:</span> {{ date | date : 'd/M/yyyy h:mm a' }}</div>
	</div>
	<ng-container [formGroup]="form">
		<div class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 transition-opacity">
			<div class="form-control w-full max-w-full md:max-w-xs">
				<label class="label">
					<span class="label-text">Nombre</span>
				</label>
				<input
					formControlName="name"
					type="text"
					placeholder="Ej. Revisión de 10.000 km"
					class="input input-bordered w-full" />
				<label class="label">
					<span
						class="label-text-alt text-error"
						*ngIf="formService.hasControlMaxlengthError('name')"
						>Ha superado el máximo de caracteres</span
					>
					<span
						class="label-text-alt text-error"
						*ngIf="formService.hasControlRequiredError('name')"
						>Este campo es requerido</span
					>
				</label>
			</div>
			<div class="form-control w-full max-w-full md:max-w-xs">
				<label class="label">
					<span class="label-text">Lugar (Opcional)</span>
				</label>
				<input
					formControlName="location"
					type="text"
					placeholder="Ej. CODIESEL"
					class="input input-bordered w-full" />
				<label class="label">
					<span
						class="label-text-alt text-error"
						*ngIf="formService.hasControlMaxlengthError('location')"
						>Ha superado el máximo de caracteres</span
					>
				</label>
			</div>
			<div class="form-control w-full max-w-full md:max-w-xs">
				<label class="label">
					<span class="label-text">Técnico (Opcional)</span>
				</label>
				<input
					formControlName="technicianName"
					type="text"
					placeholder="Ej. Julian Gomez"
					class="input input-bordered w-full" />
				<label class="label">
					<span
						class="label-text-alt text-error"
						*ngIf="formService.hasControlMaxlengthError('technicianName')"
						>Ha superado el máximo de caracteres</span
					>
				</label>
			</div>
		</div>
		<div class="form-control w-full max-w-full">
			<label class="label">
				<span class="label-text">Descripción (Opcional)</span>
			</label>
			<textarea
				formControlName="description"
				placeholder="Ej:  Cambio de aceite y filtro de aire"
				class="textarea textarea-bordered textarea-lg w-full"></textarea>
			<label class="label">
				<span
					class="label-text-alt text-error"
					*ngIf="formService.hasControlMaxlengthError('description')"
					>Ha superado el máximo de caracteres</span
				>
			</label>
		</div>
		<div class="flex items-center justify-end">
			<div class="form-control max-w-full">
				<label class="label">
					<span class="label-text">Precio</span>
				</label>
				<label class="input-group">
					<input
						formControlName="price"
						step="0.001"
						type="number"
						placeholder="Ej. 100000"
						class="input input-bordered" />
					<span class="bg-neutral-200 dark:bg-neutral-800">COP</span>
				</label>
				<label class="label">
					<span
						class="label-text-alt text-error"
						*ngIf="formService.hasControlMinError('price')"
						>El valor mínimo es 0</span
					>
					<span
						class="label-text-alt text-error"
						*ngIf="formService.hasControlRequiredError('price')"
						>Este campo es requerido</span
					>
				</label>
			</div>
		</div>
	</ng-container>
</section>
